<article>
    <p>
        要获得获奖资格，你必须满足以下条件：你必须是已注册队伍的成员、已提交机器人，并已完成所有提供的研究问卷。此外，如果你是决赛选手，你将被要求撰写一份说明，介绍你在机器人中使用的技术。
    </p>
    <p>
        每支获胜队伍将获得一张亚马逊礼品卡，奖金分配由队伍成员自行决定。
    </p>
    <p>
        此外还有多款游戏的 Steam
        激活码。这些游戏将根据队伍在锦标赛中的名次发放给参赛者，名次较高的队伍拥有优先挑选权。与亚马逊礼品卡不同，激活码将按个人发放，同一队伍内各成员的挑选顺序随机确定。当一支队伍的所有成员都选完游戏后，剩余的激活码将提供给下一支队伍。
    </p>
</article>

<article>
    <h1>第一名</h1>
    <ul>
        <li>100 美元亚马逊礼品卡</li>
    </ul>
    <h1>第二名</h1>
    <ul>
        <li>50 美元亚马逊礼品卡</li>
    </ul>
    <h1>第三名</h1>
    <ul>
        <li>25 美元亚马逊礼品卡</li>
    </ul>
</article>

<article>
    <h1>游戏激活码奖励</h1>
    <p></p>
    <ul>
        <li>Shadow Tactics: Blades of the Shogun（影子战术：将军之刃）</li>
        <li>Dark Souls II: Scholar of the First Sin（黑暗之魂 II：原罪学者）</li>
        <li>Torment: Tides of Numenera（折磨：-numenera- 之潮）</li>
        <li>Wasteland 2: Director’s Cut - Classic Edition（废土 2）</li>
        <li>Darksiders II: Deathinitive Edition（暗黑血统 II）</li>
        <li>Shadowrun: Dragonfall - Director's Cut（暗影狂奔：龙陨）</li>
        <li>Dead Island Definitive Edition（死亡岛 终极版）</li>
        <li>The Dwarves（矮人）</li>
        <li>Resident Evil Revelations（生化危机 启示录）</li>
        <li>Sniper Elite（狙击精英）</li>
        <li>Oxenfree（奇妙之夜）</li>
        <li>ETHEREAL</li>
        <li>Figment（虚构）</li>
        <li>Zombie Night Terror（僵尸之夜恐怖）</li>
        <li>Crazy Machines 3（疯狂机器 3）</li>
        <li>Jalopy（老爷车）</li>
        <li>Dreamfall Chapters（梦陨章节）</li>
        <li>Shadowrun: Hong Kong - Extended Edition（暗影狂奔：香港）</li>
        <li>Shadowrun Returns（暗影狂奔：归来）</li>
        <li>Goat Simulator（模拟山羊）</li>
    </ul>
</article>
