<article>
    <h1>参赛资格</h1>
    <ol>
        <li>参赛需要创建 Fifth Aeon 账号，并创建或加入一支队伍。</li>
        <li>每支队伍可由 1 到 4 名成员组成。</li>
        <li>在同一锦标赛中，你不能参加多支队伍或使用多个账号。</li>
        <li>参赛需要在锦标赛开始前和结束后各填写一份研究问卷。</li>
        <li>如果你赢得奖项，你需要撰写一份 2 页的机器人技术说明。</li>
    </ol>

    <h1>比赛机制</h1>
    <ol>
        <li>每个 AI 将在比赛服务器上被分配一个单独的进程来运行。</li>
        <li>
            AI 每次获得优先权时，有 5 秒时间进行计算并发送操作。如果未能在该时间内让过优先权，将判负。
        </li>
        <li>
            如果 AI 向服务器发送非法操作，或发送导致游戏进程抛出异常的操作，将判负。
        </li>
    </ol>

    <h1>禁止行为</h1>
    <ol>
        <li>机器人不得故意输掉比赛。</li>
        <li>机器人不得访问远程服务器等外部资源，也不得创建额外的进程。</li>
        <li>
            机器人不得访问人类玩家无法获取的信息。但它们可以记住之前见过的信息或进行推理。
        </li>
        <li>
            游戏代码中的任何漏洞都必须报告给锦标赛组织者，不得利用漏洞为你的机器人谋取优势。
        </li>
    </ol>

    <h1>锦标赛赛制</h1>
    <p>
        比赛将以下述三种赛制进行，机器人在三种赛制中都会获得积分。总冠军将取决于三项积分的综合表现。
    </p>
    <h2>预组赛制</h2>
    <p>
        在该赛制中，机器人将使用锦标赛组织者提供的 10
        套卡组相互对战。机器人将以这些卡组的所有组合进行对局。
    </p>
    <h2>构筑赛制</h2>
    <p>
        在该赛制中，机器人将使用其作者提供的两套卡组相互对战。机器人既会使用自己的卡组，也会使用对手的卡组。
    </p>
    <h2>限制赛制</h2>
    <p>
        在该赛制中，机器人将获得一个由 100
        张随机卡牌组成的卡池来组建新卡组。其对手也将获得相同的卡池。
    </p>

    <h1>关键日期</h1>
    <p>（具体安排仍可能变动）</p>
    <p>5 月 10 日：练习赛</p>
    <p>5 月 24 日：决赛</p>
</article>
