<div class="lobby">
    <mat-card class="lobby-card">
        <mat-card-title>{{ 'Singleplayer' | tr }}</mat-card-title>
        <button mat-raised-button color="primary" (click)="client.selectDeckAndStartGame(0)">
            <mat-icon>android</mat-icon>
            <span> {{ 'Play vs A.I' | tr }} </span>
        </button>
        <button mat-raised-button color="primary" routerLink="/draft">
            <mat-icon svgIcon="ccg:deck"></mat-icon>
            <span> {{ 'Limited vs A.I' | tr }} </span>
        </button>
        <button routerLink="/packs" mat-raised-button color="primary">
            <mat-icon>grade</mat-icon>
            <span> {{ 'Open Packs' | tr }} </span>
        </button>
        <button mat-raised-button color="primary" *ngIf="client.isConnected() && !client.isOffline()"
            (click)="client.selectDeckAndStartGame(3)">
            <mat-icon>android</mat-icon>
            <span> {{ 'Play Server A.I' | tr }} </span>
        </button>
    </mat-card>

    <div class="back-row">
        <button mat-raised-button routerLink="/lobby">
            <mat-icon>arrow_back</mat-icon>
            <span> {{ 'Back to Lobby' | tr }} </span>
        </button>
    </div>
</div>
