<div class="lobby">
    <mat-card class="lobby-card" routerLink="/lobby/single" role="link">
        <mat-card-title>
            <span class="card-title-text">{{ 'Singleplayer' | tr }}</span>
            <mat-icon class="card-icon">android</mat-icon>
        </mat-card-title>
    </mat-card>

    <mat-card class="lobby-card" routerLink="/lobby/multi" role="link">
        <mat-card-title>
            <span class="card-title-text">{{ 'Multiplayer' | tr }}</span>
            <mat-icon class="card-icon">public</mat-icon>
        </mat-card-title>
    </mat-card>

    <mat-card class="lobby-card" routerLink="/lobby/mods" role="link">
        <mat-card-title>
            <span class="card-title-text">{{ 'Modding' | tr }}</span>
            <mat-icon class="card-icon">mode_edit</mat-icon>
        </mat-card-title>
    </mat-card>

    <mat-card class="lobby-card" routerLink="/lobby/other" role="link">
        <mat-card-title>
            <span class="card-title-text">{{ 'Other' | tr }}</span>
            <mat-icon class="card-icon">settings</mat-icon>
        </mat-card-title>
    </mat-card>
</div>
