<div class="lobby">
    <mat-toolbar color="primary">
        <span>Fifth Aeon</span> <span class="toolbar-spacer"></span>

        <mat-icon class="toolbar-icon" [matTooltip]="'Turn volume on' | tr" (click)="soundManager.toggleMute()"
            *ngIf="soundManager.isMuted()">volume_mute</mat-icon>
        <mat-icon class="toolbar-icon" [matTooltip]="'Turn volume off' | tr" (click)="soundManager.toggleMute()"
            *ngIf="!soundManager.isMuted()">volume_up</mat-icon>

        <mat-icon class="toolbar-icon" [matTooltip]="'Connected' | tr" *ngIf="client.isConnected()">cloud</mat-icon>
        <mat-icon class="toolbar-icon" [matTooltip]="'Disconnected' | tr" *ngIf="!client.isConnected()">cloud_off</mat-icon>
    </mat-toolbar>

    <router-outlet></router-outlet>
</div>
