<svg
    class="resource-selector"
    [class.pulse]="canPlayResource"
    matTooltipPosition="above"
    [matTooltip]="disableTip()"
    [class.darkened]="!canPlayResource"
    role="group"
    [attr.aria-label]="'Choose a resource to play' | tr"
>
    <image
        matTooltipPosition="above"
        [matTooltip]="tip('Play Growth. (Hotkey G)')"
        (click)="playResource('Growth')"
        href="assets/png/growth.png"
        height="50"
        width="50"
        x="0"
        y="0"
        style="cursor: pointer; pointer-events: all;"
        role="button"
        tabindex="0"
        [attr.aria-label]="'Play Growth.' | tr"
    />
    <image
        matTooltipPosition="above"
        [matTooltip]="tip('Play Synthesis. (Hotkey S)')"
        (click)="playResource('Synthesis')"
        href="assets/png/synthesis.png"
        height="50"
        width="50"
        x="60"
        y="0"
        style="cursor: pointer; pointer-events: all;"
        role="button"
        tabindex="0"
        [attr.aria-label]="'Play Synthesis.' | tr"
    />
    <image
        matTooltipPosition="above"
        [matTooltip]="tip('Play Decay. (Hotkey D)')"
        (click)="playResource('Decay')"
        href="assets/png/decay-icon.png"
        height="50"
        width="50"
        x="120"
        y="0"
        style="cursor: pointer; pointer-events: all;"
        role="button"
        tabindex="0"
        [attr.aria-label]="'Play Decay.' | tr"
    />
    <image
        matTooltipPosition="above"
        [matTooltip]="tip('Play Renewal. (Hotkey R)')"
        (click)="playResource('Renewal')"
        href="assets/png/renewal.png"
        height="50"
        width="50"
        x="180"
        y="0"
        style="cursor: pointer; pointer-events: all;"
        role="button"
        tabindex="0"
        [attr.aria-label]="'Play Renewal.' | tr"
    />
</svg>
